django==4.2
Pillow==9.5.0
pandas==2.0.0
openpyxl==3.1.2
django-fontawesome-5==1.0.18
django_ckeditor==6.5.1
django-mutant==0.2.1
GDAL==3.6.3
django-google-maps==0.13.0
django-dynamic-formsets==0.0.8
django_map_widgets==0.4.1
geopy==2.3.0
googlemaps==4.10.0
shapely==2.0.1
django-geo==0.8
location-field==2.7.0
django-translator==1.1.0
fontawesome-free==5.15.4
pyproj==3.5.0
geos==0.2.3
dj-database-url==2.0.0
django-json-widget==1.1.1
django_otp==1.1.6
qrcode==7.4.2
pypng==0.20220715.0